
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">{{player1.name}}</th>
      <th scope="col">{{player2.name}}</th>
      <th scope="col">{{player3.name}}</th>
       <th scope="col">{{player4.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-danger">
      <th scope="row">Sum Of Score</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
  </tbody>
</table>
<div class="text-center">
  <button type="button" class="btn btn-danger" id="addRound">ADD ROUND</button>
</div>


<script>
  let i = 0;
  $("#addRound").click(function(){
    i++;
    $(`<tr>
      <th scope="row">Round ${i}</th>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
      <td><input type="text"></td>
    </tr>`)
                    .appendTo("tbody");
});
</script>
